<div class="cadastro col-md-12 col-xs-12 col-sm-12col-lg-12">
  <div class="container">
      <div class="cadastro-form">
          <form class="col-md-4 col-xs-4 col-sm-4	col-lg-4 card-body">
              <app-form-input [placeholder]="'Digite o Login'" [label]="'Login'" [control]="cadastroForm.controls.login"></app-form-input>
              <app-form-input [placeholder]="'Digite o Email'" [label]="'Email'" [control]="cadastroForm.controls.email"></app-form-input>
              <app-form-input [placeholder]="'Digite a Senha'"  [label]="'Senha'" [control]="cadastroForm.controls.senha"></app-form-input>
              <app-form-input [placeholder]="'Confirme a Senha'" [label]="'Confirmar Senha'" [control]="cadastroForm.controls.csenha"></app-form-input>
              <button (click)="cadastrar()" id="cadastrarUsuario" class="btn btn-primary">Cadastrar</button>
          </form>
      </div>

  </div>
</div>