<section class="hotel mt-3 mb-4" *ngIf="quartos">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-8">
        <carousel>
          <slide *ngFor="let imagem of quartos[0].quartoImagems">
            <img src="{{imagem.imagem.url}}" alt="first slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
      <div class="col-md-4 card">
        <div class="card-body d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title">{{hotel.nome}}</h4>
            <app-star-rating-disable [rating]="hotel.avaliacaoQuarto" [itemId]="'hotel'+hotel.hotelId"></app-star-rating-disable>
          </div>
          <p>Localização: {{hotel.cidade}} - {{hotel.estado}}</p>
          <p>E-mail: {{hotel.email}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="quartos">
  <div class="container">
    <app-thumb-list [items]="quartos" [tipo]="'quartos'"></app-thumb-list>
  </div>
</section>