<div class="card mt-4 mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <strong class="nome">Marcelo Campos da silva</strong>
      <app-star-rating [rating]='8' [itemId]='5' [isDisable]="false"></app-star-rating>
    </div>
    <textarea class="form-text form-control" rows="3"></textarea>
    <button class="btn-warning  text-white btn btn-sm mt-2">Avaliar</button>
  </div>
</div>
<div class="card mt-4 mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <strong class="nome">Marcelo Campos da silva</strong>
      <app-star-rating-disable [rating]='4' [itemId]='1' [isDisable]="true"></app-star-rating-disable>
    </div>
    <p class="card-text">
      Lorem ipsum dolor sente-se amet, consectetur adipiscing elit. Curabitur pulvinar vel mauris neecconsectetur. Ut
      vitae accumsan magna. Ut sodales dolor eget leo ultrachones iaculis. Nam fermentum nisl sed eleifend.<p>
  </div>
</div>