<div class="card mt-4 mb-4">
  <form class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <strong class="nome">Marcelo Campos da silva</strong>
      <app-star-rating [rating]='8' [itemId]='5' [isDisable]="false" (ratingClick)="avaliar($event)"></app-star-rating>
    </div>
    <textarea class="form-text form-control" [formControl]="comentarioForm.controls.texto" rows="3"></textarea>
    <button class="btn-warning  text-white btn btn-sm mt-2" (click)="comentar()">Avaliar</button>
  </form>
</div>
<div class="card mt-4 mb-4" *ngFor="let comentario of comentarios">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <strong class="nome">{{comentario.usuario.nome}}</strong>
      <app-star-rating-disable [rating]='comentario.avaliacao' [itemId]='comentario.comentarioId' [isDisable]="true"></app-star-rating-disable>
    </div>
    <p class="card-text">{{comentario.texto}} </p>
    <span class="data">
      publicado em {{comentario.data | date:'dd/MM/yyyy HH:mm'}}
    </span>
  </div>
</div>

<div class="text-center">
  <button class="text-white btn btn-warning">Mostre Mais</button>
</div>