img{
    height: 500px;
}

.card{
    border: 1px solid #ebebeb;
    border-radius: 0px;
    box-shadow: 1px 0 5px #f1f1f1;
    padding-left: 0px;
    padding-right: 0px;
}

.quarto{
    background-color: #f7f7f7;
}

.outros-quartos{
    background-color: #f7f7f7;
}