<div class="home">
  <div class="container">
    <div class="card mt-3 mb-3">
      <div class="card-header">
        <h2>Pesquise seu hotel aqui!</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <app-form-input class="col-4" [label]="'Nome'" [control]="hotelForm.controls.nome"></app-form-input>
            <app-form-input class="col-4" [label]="'Cidade'" [control]="hotelForm.controls.cidade"></app-form-input>
            <app-form-input class="col-4" [label]="'Periodo'" [control]="hotelForm.controls.periodo"></app-form-input>
          </div>
          <div class="pull-right">
            <button (click)="pesquisar()" id="pesquisar" class="btn btn-primary">Pesquisar</button>
          </div>
        </form>
      </div>
    </div>
    <app-thumb-list [items]="hoteis" [tipo]="'hotel'"></app-thumb-list>
  </div>
</div>